{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block body %}

  <div class=" pl-32 pt-40">
      <h1 class="title-font font-medium text-3xl text-gray-900">This Project is Developed by: Tariq Mehmood</h1>
      <p class="leading-relaxed mt-4">tariqmhmd25@gmail.com</p>
      <p class="leading-relaxed mt-4">MJP Rohilkhand University, Bareilly</p>
      <p class="leading-relaxed mt-4">Frontend: tailwind CSS</p>
      <p class="leading-relaxed mt-4">Backend: Django</p>
    </div>


{% endblock body %}